body {
    padding-top: 70px;
  }

.boldheader {
  font-weight: bold;
  background-color:#eee !important;
}

.subValue {
  padding-left:20px !important;
}

.subValueGreen {
  padding-left:20px !important;
  background-color:palegreen !important
}

.subValueRed {
  padding-left:20px !important;
  background-color:lightcoral !important
}

a {
  cursor: pointer !important;
}

.btn-create
{
  background-color:darkseagreen !important;
}

.nav-link {
  float:left !important;
}

a.driftLink
{
  cursor:pointer !important;
  color:blue !important;
  text-decoration: underline !important;
}

#divGraphBanner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:lavender !important;
    border-radius:30px;
    padding-left:15px;
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    visibility:hidden;
}
